{% extends 'base-side.njk' %}

{% block title %}404{% endblock %}
{% block author_action %} is sorry about the...{% endblock %}

{% block mainContent %}
  <div class="article-content">
    <h1>Alarming 404 situation</h1>
    <p>
      Hmm, that page couldn't be found. You should leave a comment
      below letting me know how angry you are about this. The more sweary
      the better.
    </p>
  </div>
{% endblock %}
