<!DOCTYPE html>
<html class="{% block page_class %}{% endblock %}">
  <head>
    <title>{% block title %}{% endblock %} - JakeArchibald.com</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ '/static/css/all.css'|rev }}">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header class="site-header">
      <div class="inner page-width">
        <a href="/" class="title">Jake Archibald<span class="js-action">{% block author_action %}{% endblock %}</span></a>
        <a href="/who/" class="who">who?</a>
      </div>
    </header>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block extra_body %}{% endblock %}
  </body>
</html>