<script>
  document.title = "Offline - JakeArchibald.com";
</script>

<div class="article-content">
  <h1>Massive connectivity breakdown</h1>
  <p>Try refreshing and waving your phone around a bit.</p>
</div>