{% extends 'base-side.njk' %}

{% block title %}Offline!{% endblock %}
{% block author_action %} is sorry about the...{% endblock %}

{% block mainContent %}
  <div class="article-content">
    <h1>Massive connectivity breakdown</h1>
    <p>Try refreshing and waving your phone around a bit.</p>
  </div>
{% endblock %}
