{% extends 'base.njk' %}

{% block title %}Who?{% endblock %}

{% block content %}
  <div class="content-only">
    <div class="content who-page">
      <h1>Who?</h1>
      {% include 'who-inc.njk' %}
    </div>
  </div>
{% endblock %}